# Node.js
node_modules/
npm-debug.log
yarn-error.log
.pnpm/

# Build files
dist/
build/
coverage/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Log files
*.log

# Editor-specific files
.vscode/
.idea/

# macOS
.DS_Store

# Dependency directories
/jspm_packages/
/bower_components/

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/